.error {
    color: red;
    font-size: 16px;
}

#error {
    width: 200px;
    margin: 0 auto;
    color: red;
}

#userEmail {
    width: 300px;
    margin-left: 70%;
}

#userId {
    width: 100px;
    margin-left: 80%;
}

#loginFormDiv {
    width: 200px;
    margin-left: 80%;
}

.hide {
    display: none;
}